.App {
  text-align: center;
}

.hat-logo {
  height: 15vh;
  /* mix-blend-mode: color-burn; */
}

navbar{
  /* background-color:red; */
  background-color:rgb(252,212,127);
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

nav{
  width: 40vw;
  margin-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link{
  color: black;
  text-decoration: none;
  padding: 15px;
  font-weight: 600;
  font-size:xx-large;
}

.carousel-item{
  height: 50vh;
  contain: content;
}
