.App {
  text-align: center;
}

.hat-logo {
  height: 25vh;
}

nav{
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-around; */
  /* background-color: rgb(12, 100, 253); */
}

.link-container{
  display: flex;
  flex-direction: column;
}
